.container-popup {
  position: fixed;
  width: 60%;
  left: 20%;
  top: 15%;
  z-index: 999;
  background-color: #ddd;
  border: 5px #bbb solid;
  padding: 40px 0;
  overflow: hidden;
}
.container-popup form {
  width: 300px;
  margin: 0 auto;
}

.nav-header {
  width: 100%;
}

.form-group-btns {
  text-align: center;
}

.pdf {
  width: 70%;
  height: 90%;
  left: 15%;
  top: 5%;
  padding: 4px 6px;
}
.pdf span {
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
}
.pdf > span.pull-left {
  font-size: 16px;
}
.pdf iframe {
  width: 100%;
  height: 100%;
}

header {
  height: 60px;
  background-color: #394651;
}

input[type="file"] {
  width: 200px;
}

.input-checkbox {
  width: 40px;
}

#page-index {
  width: 80px;
  float: right;
}

#counts-record {
  margin-left: 10px;
}

#page-goto {
  margin-left: 30px;
}
#page-goto input {
  float: none;
  display: inline;
}